.clock{
    position: absolute;
    right: 18px;
    top: 840px;
    color: cornflowerblue;
}
.clockword{
    position: absolute;
    right: 18px;
    top: 900px;
    color: rgba(144, 238, 144, 0.8);
    font-size: 16px;
    font-weight: bolder;
}